body{
    background: #f2f2f2;
    padding-top: 70px;
    
}

.main-content {
    width: 100%;
    background-color: #fff;
    display: inline-flex;
    padding: 10px 10px;
}

.section{
    padding: 10px 10px;
    width: 60%;
    border-radius:5px;
    background: #5C87E2;
}

.article h1{
    text-align: center;
    color: #fff;
    
}

.aside{
    width: 40%;
    padding: 10px 10px;
    background-color: #646F88;
    color: #fff;

}

.article p{
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 1em;
}

.first-text p {
    padding: 1em;
    color: #fff;
    text-align: left;
}

iframe{
    margin-left: 13%;
    margin-top: 20px;
    width:75%;
    
} 

hr{
  height:5px; 
  border-bottom: 1px dashed #fff;
  width: 95%;
    
}

nav.navbar {
    background-color: #E2AC5C;
    border: none;
    box-shadow: inset 0 0 10px #915C00;
}

nav.navbar ul.nav li a {
    overflow: hidden;
    color: #FFFFFF;
    font-size: 15px;
    
}

.navbar-default .navbar-brand{
    overflow: hidden;
    color: #fff;
    font-size:20px; 
}

.navbar-default button{
    border: none;
}



















@media screen and (max-width: 950px) {
    nav{
        text-align: center
    }

}



